.hidden-xs
  .col-sm-3.col-md-3.col-lg-3.feature-card.border-left
    .ss-icon.text-center.font-size-40
      &#xF072;
    %h4
      Mark the date.
  .col-sm-1.col-md-1.col-lg-1.flow-arrows.color-green-darker.ss-icon
    &#x27A1;
  .col-sm-3.col-md-3.col-lg-3.feature-card
    .ss-icon.text-center.font-size-40
      &#x1F514;
    %h4
      Set how you want to be notified.
  .col-sm-1.col-md-1.col-lg-1.flow-arrows.color-green-darker.ss-icon
    &#x27A1;
  .col-sm-3.col-md-3.col-lg-3.feature-card.border-right
    .ss-icon.text-center.font-size-40
      &#x2139;
    %h4
      Incense will notify you when the expiration date is near.
.visible-xs
  .feature-card
    .ss-icon.text-center.font-size-40
      &#xF072;
    %h4
      Mark the date.
  .flow-arrows.color-green-darker.ss-icon
    &#x2B07;
  .feature-card
    .ss-icon.text-center.font-size-40
      &#x1F514;
    %h4
      Set how you want to be notified.
  .flow-arrows.color-green-darker.ss-icon
    &#x2B07;
  .feature-card
    .ss-icon.text-center.font-size-40
      &#x2139;
    %h4
      Incense will notify you when the expiration date is near.