- provide :title, 'Home'
- content_for :body_class, "landing_page"

.row.warning
  .container
    

//.row.accent_color
//  .container
//    Heya

//.row.call_to_action
//  .container
//    Heya

//.row.green
//  .container
//    = form_for