- provide :title, 'Home'
- content_for :body_class, "landing_page"

- if user_signed_in?
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1
          Dashboard
    %hr
    .row
      .col-sm-8.col-md-8.col-lg-8
        %h3
          Current Items
        .row.current-item
          %button.btn.btn-default.email-notification.pull-left
            %span{ :class => 'ss-icon header-icons' }
              E
          %button.btn.btn-success.in-app-notification.pull-left
            %span{ :class => 'ss-icon header-icons' }
              M
          .col-sm-6.col-md-6.col-lg-6
            .col-sm-6.col-md-6.col-lg-6
              .h3like
                Carrots
            .col-sm-6.col-md-6.col-lg-6
              .date
                %b
                  12-20-2013
        
          %button.btn.btn-danger.delete.pull-right
            %span{ :class => 'ss-icon header-icons' }
              &#x2421;
          %button.btn.btn-warning.accept.pull-right
            %span{ :class => 'ss-icon header-icons' }
              &#x2713;











        %button.btn.btn-warning.accept
          %span{ :class => 'ss-icon header-icons' }
            &#x2713;

        %button.btn.btn-danger.delete
          %span{ :class => 'ss-icon header-icons' }
            &#x2421;

        %button.btn.btn-default.email-notification
          %span{ :class => 'ss-icon header-icons' }
            E

        %button.btn.btn-success.in-app-notification
          %span{ :class => 'ss-icon header-icons' }
            M

      .col-sm-4.col-md-4.col-lg-4
        %h3
          Currently in the fridge...
        %p.gray_lightest
          This is where the currently applied items are going to go


  

- else
  = render :partial => 'landing_page/section_marketing'
