.row.current-item
  .col-xs-12
    .col-xs-5
      %button.btn.btn-default.email-notification.pull-left
        %span{ :class => 'ss-icon header-icons' }
          E
      %button.btn.btn-success.in-app-notification.pull-left
        %span{ :class => 'ss-icon header-icons' }
          M

    .col-xs-2
      .date.text-center
        %b
          #{@expiration}

    .col-xs-5
      %button.btn.btn-danger.delete.pull-right
        %span{ :class => 'ss-icon header-icons' }
          &#x2421;
      %button.btn.btn-warning.accept.pull-right
        %span{ :class => 'ss-icon header-icons' }
          &#x2713;

  .col-xs-12
    %h4.text-center
      #{@name}