
$call_to_action:  #F87766;

$accent_color:    #57B4CA;

$success:         #85EDA1;

$warning:         #F8AE66;


$gray_lightest:   #F2F2F2;
$gray_light:      #D3D3D3;
$gray:            #BEBEBE;
$gray_dark:       #707070;



$green_darker:    darken($success, 20%);