@import "fonts";
@import "colors";
@import "bootstrap-overrides";

/*
##################################################################
#                     Universal Styling                          #
##################################################################
*/

* {}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif;
}

.h1like, .h2like, .h3like, .h4like, .h5like, .h6like {
  font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif;
}

.h1like {
  font-size: 36px;
}

.h2like {
  font-size: 30px;
}

.h3like {
  font-size: 24px;
}

.h4like {
  font-size: 18px;
}

.h5like {
  font-size: 14px;
}

.h6like {
  font-size: 12px;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

hr {
  border-top: $gray_light 1px solid;
}


/* 
  Labels
*/

.label-warning {
  background-color: $call_to_action;
}

.label-danger {
  background-color: $danger;
}




/*
##################################################################
#                     Utility Classes                            #
##################################################################
*/


.font-size-40 {
  font-size: 40px;
}

.width-100 {
  width: 100%;
}

.high-margin-top {
  margin: 30px 0 0 0;
}

.high-margin-bottom {
  margin: 0 0 30px 0;
}

.vertical-center {
  vertical-align: middle !important;
}

.border-top {
  border-top: 1px solid $gray_light;
}

.border-right {
  border-right: 1px solid $gray_light;
}

.border-bottom {
  border-bottom: 1px solid $gray_light;
}

.border-left {
  border-left: 1px solid $gray_light;
}

.c2a-large {
  height: 50px;
  padding: 15px;
}


/*
##################################################################
#                     Input Classes                              #
##################################################################
*/

textarea {
  border: none;
}

input[type=text], 
input[type=email],
input[type=password] {
  border: none;
  border-bottom: 1px solid $gray_light;
  border-left: 1px solid $gray_light;
  box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -o-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

input[type=text]:focus, 
input[type=textarea]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border: none;
  border-bottom: 1px solid $gray_dark;
  border-left: 1px solid $gray_dark;
  box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -o-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

select {
  border: 1px solid $gray_light;
  color: #555;
  padding: 9px 18px 9px 18px;
}

select:focus {
  border: 1px solid $gray_dark;
  outline: none;
}

/*
##################################################################
#                     Button Classes                             #
##################################################################
*/

.btn-warning {
  color: #FFFFFF;
  background-color: $warning;
}

.btn-warning:hover {
  color: #FFFFFF;
  background-color: darken($warning, 5%);
}

.nav > li > a.btn-warning:hover {
  background-color: darken($warning, 5%);
}

.nav > li > a:hover {
  background-color: darken($accent_color, 5%)
}

.btn-danger {
  color: #FFFFFF;
  background-color: $danger;
}

.btn-danger:hover {
  color: #FFFFFF;
  background-color: darken($danger, 5%);
}

.btn-success {
  color: #FFFFFF;
  background-color: $success;
}

.btn-success:hover {
  color: #FFFFFF;
  background-color: darken($success, 5%);
}

.btn-default {
  color: #FFFFFF;
  background-color: $accent_color;
}

.btn-default:hover {
  color: #FFFFFF;
  background-color: darken($accent_color, 5%);
}

.accept, .delete, {
  height: 40px;
  width: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.email-notification, .in-app-notification {
  height: 40px;
  width: 40px;
}


/*
##################################################################
#                     Color Classes                              #
##################################################################
*/


.call_to_action {
  background-color: $call_to_action;
}

.accent_color {
  background-color: $accent_color;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}

.gray_lightest {
  background-color: $gray_lightest;
}

.white {
  background-color: #FFF;
}

.color-success {
  color: $success;
}

.color-green-darker {
  color: $green_darker;
}


.navigation {
  .container {
    padding: 0 0 0 0;
  }

  a {
    color: #FFF;
  }

  .navbar-brand {
    font-size: 2.5em;
  }
}


/*
##################################################################
#                     Body Classes                               #
##################################################################
*/


body.landing_page {
  h1 {
    font-size: 2.5em;
  }

  select {

  }

  .flow-arrows {
    font-size: 22px;
  }

  .sign-up-form {
    display: none;
  }

  .form {
    opacity: 0;
    filter:alpha(opacity=0);
  }

  .add-item {
    .form-group {
      margin-bottom: 30px;
    }

    #item_classification_id {
      width: 100%;
    }
  }

  .instructions {
    .col-sm-1, .col-md-1, .col-lg-1, .col-sm-3, .col-md-3, .col-lg-3 {
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin-right:-4px;
    }

    .feature-card {
      background-color: #FFF;
      padding: 30px 0 30px 0;

      .ss-icon {
        color: $gray_dark;
      }
    }
  }

  .current-item {

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      padding: 0;
    }

    border: 1px solid $gray_light;
    padding: 10px;
    line-height: 40px;
    margin: 10px;
    min-height: 100%;
    .date {

    }

    .btn-default, .btn-success {
      margin-right: 10px;
    }

    .btn-warning, .btn-danger {
      margin-left: 10px;
    }

    .btn {
      position: relative;
      right: 0;
    }

    .date-close {
      color: $warning;
    }

    .date-expired {
      color: $danger;
    }
  }
}

body.account_page {
  .account-settings {
    margin: 0 0 30px 0;
  }

  .danger-zone {
    background-color: lighten($danger, 20%);
    padding: 15px;
  }
}
