@import "fonts";
@import "colors";
@import "bootstrap-overrides";

/*
##################################################################
#                     Universal Styling                          #
##################################################################
*/

* {}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}


/* 
  Buttons
*/

.btn-warning {
  background-color: $warning;
}

.btn-warning:hover {
  background-color: darken($warning, 5%);
}

.nav > li > a.btn-warning:hover {
  background-color: darken($warning, 5%);
}

.nav > li > a:hover {
  background-color: darken($accent_color, 5%)
}


/*
##################################################################
#                     Utility Classes                            #
##################################################################
*/


.font-size-40 {
  font-size: 40px;
}

.width-100 {
  width: 100%;
}

.high-margin-top {
  margin: 30px 0 0 0;
}

.high-margin-bottom {
  margin: 0 0 30px 0;
}

.vertical-center {
  vertical-align: middle !important;
}

.border-top {
  border-top: 1px solid $gray_light;
}

.border-right {
  border-right: 1px solid $gray_light;
}

.border-bottom {
  border-bottom: 1px solid $gray_light;
}

.border-left {
  border-left: 1px solid $gray_light;
}

.c2a-large {
  height: 50px;
  padding: 15px;
}


/*
##################################################################
#                     Input Classes                              #
##################################################################
*/


input[type=text], 
input[type=email],
input[type=password] {
  border: none;
  border-bottom: 1px solid $gray_light;
  border-left: 1px solid $gray_light;
  box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -o-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

input[type=text]:focus, 
input[type=email]:focus,
input[type=password]:focus {
  border: none;
  border-bottom: 1px solid $gray_dark;
  border-left: 1px solid $gray_dark;
  box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -o-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;

}


/*
##################################################################
#                     Color Classes                              #
##################################################################
*/


.call_to_action {
  background-color: $call_to_action;
}

.accent_color {
  background-color: $accent_color;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

.gray_lightest {
  background-color: $gray_lightest;
}

.white {
  background-color: #FFF;
}

.color-success {
  color: $success;
}

.color-green-darker {
  color: $green_darker;
}


.navigation {
  .container {
    padding: 0 0 0 0;
  }

  a {
    color: #FFF;
  }

  .navbar-brand {
    font-size: 2.5em;
  }
}


body.landing_page {
  h1 {
    font-size: 2.5em;
  }

  .flow-arrows {
    font-size: 22px;
  }

  .sign-up-form {
    display: none;
  }

  .form {
    opacity: 0;
    filter:alpha(opacity=0);
  }

  .instructions {
    .col-sm-1, .col-md-1, .col-lg-1, .col-sm-3, .col-md-3, .col-lg-3 {
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin-right:-4px;
    }

    .feature-card {
      background-color: #FFF;
      padding: 30px 0 30px 0;

      .ss-icon {
        color: $gray_dark;
      }
    }
  }
}