@import "fonts";
@import "colors";
@import "bootstrap-overrides";

/*
##################################################################
#                     Universal Styling                          #
##################################################################
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}


/* 
  Buttons
*/

.btn-warning {
  background-color: $warning;
}

.btn-warning:hover {
  background-color: darken($warning, 5%);
}

.nav > li > a.btn-warning:hover {
  background-color: darken($warning, 5%);
}



  /* Remove these test classes */
  .black {
    background-color: #000;
  }

  .call_to_action {
    background-color: $call_to_action;
  }

  .accent_color {
    background-color: $accent_color;
  }

  .success {
    background-color: $success;
  }

  .warning {
    background-color: $warning;
    height: 4px;
  }