%footer
  %ol.breadcrumb.text-center
    %li
      &copy; #{current_year}
    %li
      Designed by:
      = link_to "@patschreiber", "#"
    %li
      All rights reserved
    %li
      Privacy Policy